/* src/components/Footer.css */
/* src/Components/Footer.css */
.Footer {
    background-color: #b9bbbd; /* Cor de fundo */
    color: #000000; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 1rem; /* Espaçamento interno */
    position: fixed; /* Mantém o footer fixo na parte inferior */
    bottom: 0; /* Alinha o footer na parte inferior */
    width: 100%; /* Largura total */
    margin-top: 2rem; /* Espaçamento superior para garantir que não fique colado no conteúdo */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
  }
  
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer p {
    margin: 0 0 1rem; /* Remove margens laterais e adiciona margem inferior */
  }
  
  .footer-links {
    display: flex;
    gap: 1rem; /* Espaçamento entre os links */
  }
  
  .footer-links a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: color 0.3s; /* Transição suave de cor */
  }
  
  .footer-links a:hover {
    color: #000000; /* Cor dos links ao passar o mouse */
  }
  